@model IEnumerable<ChiTietHoaDon>
@{
	int i = 1;string dstl = "";int j = 0;
}
<div id="main" class="container">
	<table class="table text-center">
		<thead>
			<tr>
				<th>STT</th>
				<th>Tên SP</th>
				<th>Giá</th>
				<th>Ảnh</th>
				<th>Thể loại</th>
				<th>Số Lượng</th>
				<th>Tổng giá SP</th>
				
			</tr>
		</thead>
		@foreach (var item in Model)
		{
			<tbody>
				<tr>
					<td width="5%">@(i++)</td>
					<td width="20%">@item.SanPham.Name</td>
					<td width="10%">@String.Format("{0:0,0 vnđ}", item.SanPham.Gia)</td>
					<td width="20%">
						<img src="~/@item.SanPham.Image" width="150">
					</td>
					<td width="15%">
						@foreach (var tl in ViewBag.CacTheLoai)
						{
							if (item.SanPham.Id == tl.SanPhamId)
							{
								<p>@tl.TheLoai.Name</p >
							}
						}
						</td>
					<td width="10%">@item.Quantity</td>
					<td width="20%">@String.Format("{0:0,0 vnđ}", item.ProductPrice)</td>

				</tr>
			</tbody>
		}
	</table>
	<a asp-action="DonHang" class="btn btn-primary">Thoát</a>
</div>
@section bootstrap{
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}
@section cssHeavenICE_1{
	<link rel="stylesheet" href="~/css/HeavenICE_1.css" />
}

